TOKEN=
CLIENT_ID=

BOT_NAME=RazoR
PREFIX=!
OWNER_IDS=

DATABASE_PATH=data/razor.sqlite3

EMBED_COLOR=#2B2D31
EMBED_COLOR_OK=#57F287
EMBED_COLOR_ALERT=#ED4245
EMBED_COLOR_WARN=#FEE75C
EMBED_FOOTER=RazoR

EMOJIS_JSON_PATH=emojis.json
UPLOADED_EMOJIS_JSON_PATH=uploaded_emojis.json
EMOJI_ASSETS_DIR=assets/emojis

ANTINUKE_NO_BYPASS_ROLE=No-Bypass
ANTINUKE_BARRIER_ROLE=Barrier ~ Unit
ANTINUKE_DEFAULT_PUNISHMENT=strip

ANTINUKE_SELFBOT_WINDOW_SECONDS=5
ANTINUKE_SELFBOT_THRESHOLD=8

ANTINUKE_AUDIT_LOOKBACK_SECONDS=5

MOD_LOG_FALLBACK_CHANNEL_NAME=mod-logs
DEFAULT_STICKER_EMOJI=💀

LAVALINK_HOST=
LAVALINK_PORT=2333
LAVALINK_PASSWORD=
LAVALINK_SECURE=false

AI_API_KEY=
AI_API_BASE=https://api.openai.com/v1
AI_MODEL=gpt-4o-mini

GOOGLE_API_KEY=
GOOGLE_CSE_ID=

YOUTUBE_API_KEY=

# garibi thiii isliye kuch daal. nhi sakke 🥲, apne aap APIs leke daal de a and lavalink.
# ~ r3novadcl 
